<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  
  <style>
    body {
      padding: 0;
      margin: 0;
      background-color: black;
      text-align: center;
    }
    a{
      color:white;
    }

  </style>
</head>

<body>
  <script src = "/client.js"></script>
  <a href="https://www.binoy.co">Visit my website!</a>
</body>

</html>